asn1crypto==0.24.0
blinker==1.4
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==3.2
Flask==1.0.2
ftfy==5.5.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
nltk==3.4.5
numpy==1.16.3
oauthlib==3.0.1
pycparser==2.19
PyJWT==1.7.1
Sastrawi==1.0.1
scikit-learn==0.20.3
scipy==1.2.1
textblob==0.15.3
tweepy==3.5.0
urllib3==1.24.2
